.projects-container {
    margin: 3rem 0;
    position: relative;
}

.projects-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.projects-container::after,
.projects-container::before {
    content: ' ';
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;
    background: #61bfe7;
    position: absolute;
    z-index: -1;
    filter: blur(200px);
}

.projects-container::after {
    top: -3rem;
    left: -5rem;
}

.projects-container::before {
    background: #5b95b3;
    bottom: 0rem;
    right: 0rem;
}

.projects-content {
    display: flex;
    gap: 3;
    margin-top: 3rem;
}

.projects {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
}

.project-info {
    flex: 1;
}