.project-card {
    border-radius: 0.65rem;
    border: 1px solid #61bfe7;
    padding: 2.5rem;
    text-align: center;
    background: rgba(22, 17, 47, 0.398);
    backdrop-filter: blur(1rem);
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
    margin: 1.75rem 0;
}

.project-card:hover:not(.active) {
    background: rgba(27, 27, 84, 0.398);
}

.active {
    background: linear-gradient(180deg, #5b95b3 0%, #61bfe7 100%);
}

.project-icon {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    top: -2.5rem;
    left: 42%;
}

.icon-image {
    width: 4rem;
    height: auto;
    object-fit: contain;
}

.project-name {
    font-size: 1.5rem;
    margin: 0.75rem 0;
}

.project-link {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;
}

.project-link:hover {
    color: #4a7ab1;
}

@media (max-width: 1025px) {
    .project-card {
        padding: 2rem;
    }

    .project-icon {
        width: 4rem;
        height: 4rem;
    }

    .icon-image {
        width: 3rem;
    }
}

@media (max-width: 768px) {
    .project-name {
        font-size: 1.25rem;
    }

    .in-development,
    .project-link {
        font-size: 0.9rem;
    }
}