@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #fff;
  background: linear-gradient(to bottom, #050230, #030115);
  min-height: 100vh;
}